body,html {
  height: 100%;
}
body {
	font-size: 1.4rem;
	background-color:#09545B ;
	color:#fff;
	font-weight: 200;
	font-family: "acumin-pro-wide", sans-serif ;
	text-align: center;
	line-height: 2.1rem;
}

ul {
    list-style-position: inside;
}
/* header layout*/

.jumbotron {
 /* background-color:#09545B ;*/
  background-image:url('images/photos_mono.png');
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.header	h2{
	padding: 4rem 6rem;
	line-height: 3rem;
}

.logo {
  color:#fff;
  text-align:center;
	max-width:450px;
	padding-top:10px;
	width:90%;
}

.header {
	margin-bottom:0px;
}

/*type*/
p{
	padding:10px 0 10px 0;
	margin:0;
}
h1,h3,h4, h5, #mc_embed_signup label,.btn, #mc_embed_signup .button {
	font-family: "jubilat",serif; 
	font-weight: 600;
}
h1,h3{
	margin-top:10px;
}
h2{
	font-weight:200;
}
h1{
	font-size:4rem;
	padding:0px 0 30px 0;
}

h2,h5,#mc_embed_signup label{
	font-size:2rem;
}
h3 {
	font-size:2.5em;
}
#mc_embed_signup label{
	padding:0 0 20px 0 ;
}

h4{
	font-size: 2.2rem;
	padding:10px 0;
	/*color:#119BA7;*/
	color: rgba(255,255,255,0.5);
}
a{
	color:#17D5E7 ;
	/*color: rgba(255,255,255,0.8);*/
	text-decoration:underline;

}
a:hover{
	color: rgba(255,255,255,0.5) ;
}

.content a, #intro a{
	color:#119BA7;
	text-decoration:underline;
}
.content a:hover, #intro a:hover{
	color: rgba(9,84,91,0.7) ;
}
.service p:first-of-type { 
    padding-top:20px;
}
.footer a{
	color: rgba(255,255,255,0.3);
	text-decoration: none;
}
.footer a:hover{
	text-decoration: none;
	color: rgba(255,255,255,0.7);
}

/*media queries */
@media (max-width: 767px) { 
.col-sm-6, .col-sm-12 {
	text-align:center;
}
}
@media (max-width: 767px) { 
.col{
	padding-top:10px;
 }
}
@media (max-width: 767px) { 
.img-responsive{
	padding-top:20px;
	display:inline-block;
	width:100%;
	max-width:380px;
}
}


/*layout*/

.intro, .about {
	background:#fff ;
	color:#09545B;
}

.about,.intro,.inspiration,.footer {
	padding-top:20px;
}

.header .btn, #mc_embed_signup .button {
display: inline-block;
padding: 12px 20px;
/*margin: 4%;*/
font-size: 1.6rem;
font-weight: 600;
line-height: 1.42857143;
border: 1px solid rgba(255,255,255,0.5);
border-radius: 0px;
background: transparent;
height: auto;
}

.header .btn:hover, #mc_embed_signup .button:hover {
	color: rgba(255,255,255,0.7);
	border: 1px solid rgba(255,255,255,1);
background: transparent;
}

.col-md-4 {
	padding:0 10px;
}

.row {
	padding:0 0 15px 0px;
	margin-right: 0px;
}
.panel-drk{
	background-color: #09545B;
	color:#fff;
}

#services img.pic{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
}
.img-responsive{
	display:inline-block;
}
hr {
	border-top: 1px solid rgba(255,255,255,0.3);
}

/*form styles*/
  #mc_embed_signup{
  	background:#09545B; 
  	font-size: 1.6rem;
  	text-align: center;
  	padding:20px 0 0 0; 
  }

  #mc_embed_signup input.button, #mc_embed_signup input.email {
  	display: inline-block;
  }

  #mc_embed_signup form {
  	text-align: center;
  	padding:10px 0;
  }

  #mc_embed_signup .clear {
  	display:block;
  }
#mc_embed_signup input.email {
  margin: 0 0 15px 0;
width: 75%;
max-width: 400px;
  	color:#09545B;
}
#mc_embed_signup .button {
	max-width:200px;
}
#mc_embed_signup .button:hover {
}


/** layout header **/
