
body {
	font-size: 1.6rem;
	color:#523189 !important;
	
}

/*text formatting*/

h1,h3,h4, label{
	font-family: "aw-conqueror-carved-one",sans-serif;
}
h1,h3,h4{
	margin-top:10px;
}
h1{
	font-size:4.5rem;
	padding:50px 0 30px 0;
}
p,h2{
	font-family: "source-sans-pro",sans-serif;
	line-height: 2.4rem;
}

h2 {
	font-size:2.2rem;
	line-height: 3rem;
	padding-bottom:40px;
}
h3{
	font-size:3.5rem;
}
p,h3{
	padding-bottom:20px;
}
.info-box-drk p {
padding-bottom:0px;
}
h4{
	font-size: 1.4rem;
}
a{
	color:#ff4000 ;
	font-size: 1.2rem;
}
a:hover{
	color:#523189 ;
}

/*layout*/
.header, footer{
	background-color: #523189 !important;
	text-align: center;
	padding-bottom: 20px;
	padding-top:30px;
	color:#fff;
}
.header{
	margin-bottom:10px;
}
.header img {
	padding:0 0 10px 0;
	width:100px;
}
.icon 
{
	text-align: center;
	padding-top:10px;
}
.info-box-drk
{
	background-color: rgba(82,49,137,0.3);
	padding:10px;
	border: 0 10px solid white;
}
.content{
	padding-right:20px;
}
.info-box-lt{
	border: 1px solid rgba(82,49,137,0.5);
	padding:10px;
	background-color: #fff;
}
.row {
	padding:40px 20px;
}
.panel-drk{
	background-color: rgba(82,49,137,0.3);
}
.spc-bot{
	padding-bottom:20px;
}

/*form controls*/
button.btn.btn-default
{
	background-color: #ff4000;
	font-family: "aw-conqueror-carved-one",sans-serif;
	color:#fff;
	border:0px;
	border-radius:0px;
}

input#city.form-control
{
	background-color:#523189;
	border-radius:0px;
	color: rgba(255, 255, 255, 0.5);
	width: 100%;
	min-width: 200px;
	font-family: "source-sans-pro",sans-serif;
	text-transform: uppercase;
}

input#city.form-control:focus {
	border-color:#fff;
	color:#fff;
	box-shadow: none;
	outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  transition: none !important;
}