
body {
	font-size: 1.6rem;
	color:#523189 !important;
	
}

/*logo*/

.logo {
	max-width:150px;
	padding-top:10px;
}

.long-logo {
	max-width:250px;
}
/*text formatting*/

h1,h3,h4, label, blockquote{
	font-family: "aw-conqueror-carved-one",sans-serif;
}
h1,h3,h4{
	margin-top:10px;
}
h1{
	font-size:4rem;
	padding:0px 0 30px 0;
}
p,h2{
	font-family: "source-sans-pro",sans-serif;
	line-height: 2.4rem;
}

h2{
	font-size:2.2rem;
	line-height: 3rem;
	padding-bottom:40px;
}
h3{
	font-size:3.5rem;
}
p,h3{
	padding-bottom:20px;
}
.info-box-drk p, footer p.small{
 padding-bottom:0px;
}
h4{
	font-size: 1.6rem;
}
a{
	color:#ff4000 ;
	font-size: 1.2rem;
}
a:hover{
	color:#523189 ;
}

footer a{
	font-family: "source-sans-pro",sans-serif;
	color:#ff4000 ;
	font-size: 1.6rem;
}
footer a:hover{
	color: rgba(255,255,255,0.7); ;
}
footer a:visited{
	color: rgba(255,255,255,0.3); ;
}
.small {
	font-size:0.8em;
}

/*media queries */
@media (max-width: 767px) { 
.col-sm-6, .col-sm-12 {
	text-align:center;
}

 }

@media (max-width: 767px) { 
.col{
	padding-top:10px;
}

 }

@media (max-width: 767px) { 
.img-responsive{
	padding-top:20px;
	display:inline-block;
}

 }

/*layout*/

header, .quotes{
	text-align:center;
}
.header, footer{
	background-color: #523189 !important;
	text-align: center;
	padding-bottom: 20px;
	padding-top:30px;
	color:#fff;
}
.header{
	margin-bottom:10px;
}
.header img {
	padding:0 0 10px 0;
	width:100px;
}
.icon 
{
	text-align: center;
	padding-top:10px;
}
.info-box-drk
{
	background-color: rgba(82,49,137,0.3);
	padding:10px;
	border: 0 10px solid white;
}
.content{
	padding-right:20px;
}
.info-box-lt{
	border: 1px solid rgba(82,49,137,0.5);
	padding:10px;
	background-color: #fff;
	color: #523189;
}
.row {
	padding:20px;
	margin-right: 0px;
}
.panel-drk{
	background-color: rgba(82,49,137,1);
	color:#fff;
}
.spc-bot{
	padding-bottom:20px;
}

.form-group .col-sm-6{
	text-align: left;
}

.meetup, .quotes {
	padding-top: 20px;
}

.btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
#buyForm p {
	padding:20px 0 0 0;
}
/*form controls*/
button.btn.btn-default
{
	background-color: #ff4000;
	font-family: "aw-conqueror-carved-one",sans-serif;
	color:#fff;
	border:0px;
	border-radius:0px;
}

input.form-control, textarea.form-control
{
	background-color:#523189;
	border-radius:0px;
	color: rgba(255, 255, 255, 0.7);
	width: 100%;
	min-width: 200px;
	font-family: "source-sans-pro",sans-serif ;
	/*text-transform: uppercase;*/
}

input.form-control:focus,  textarea.form-control:focus {
	border-color:#fff;
	color:#fff;
	box-shadow: none;
	outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  transition: none !important;
}

#buyForm input.form-control, #buyForm textarea.form-control
{
	background-color:#fff;
	border-radius:0px;
	color: rgba(82,49,137,0.7);
}

#buyForm input.form-control:focus,  #buyForm textarea.form-control:focus {
	border-color:#523189;
	color:#523189;
}


#buyForm input.form-control, #buyForm textarea.form-control {
	margin-bottom:10px !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #9B8BBC !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #9B8BBC !important;
   opacity:  1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #9B8BBC !important;
   opacity:  1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #9B8BBC !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #9B8BBC !important;
}

@-webkit-keyframes autofill {
    to {
        color: #9B8BBC;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}